{% extends "base.html" %}

{% block content %}
    <h2 id="edit-eng-header">{{ event_desc_title }}</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p id="event-date">
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="event-time">
            {{ form.time.label }}<br>
            {{ form.time(size=32) }}<br>
            {% for error in form.time.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="event-desc">
            {{ form.description.label }}<br>
            {{ form.description(rows=4) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="is-friends-published">{{ form.is_published_mates() }} {{ form.is_published_mates.label }}</p>
        <p id="is-groups-published">{{ form.is_published_groupies() }} {{ form.is_published_groupies.label }}</p>
        <div id="edit-eng-buttons">
            <p id="submit-event">{{ form.update_submit() }}</p>
            <a id="cancel-event-edit" href="{{ url_for('index') }}">Cancel</a>
        </div>
    </form>
{% endblock %}