{% extends "friends.html" %}

{% block friends_block %}
    <p id="friend-list-instructions">Click friends' names to see their profiles.</p>
    {% for friend in current_user.user_friends %}
        {% include "_friend.html" %}
    {% endfor %}
    {% if current_user.user_friends.count() == 0 %}
        <p id="friends-list-empty">Nothing to show here! Head over to the <a id="find-friends-sublink" href="{{ url_for('find_friends') }}">Find Page</a> to search for people!</p>
    {% endif %}
{% endblock %}