{% extends "base.html" %}

{% block content %}
    <h2 id="group-page-header">{{ group.group_name }}</h2>

    <div id="group-page-links">
        <a id="group-members-link" href="">Members({{ group.members.count() }})</a>
        <a id="group-events-link" href="">Events({{ group.engagements.count() }})</a>
        {% if group.admin == current_user %}
            <a id="group-manage-link" href="">Manage</a>
        {% endif %}
    </div>

    <h3 id="group-admin-header">Administrator: <a class="group-admin-pointer" href="{{ url_for('user_profile', userid=group.admin.id) }}">{{ group.admin.username }}</a></h3>

    <h3 id="group-desc-header">Description:</h3>
    <p id="group-desc-par">{{ group.group_desc }}</p>
{% endblock %}