{% extends "groups.html" %}

{% block groups_block %}
    {% if current_user.groups_is_managing.count() > 0 %}
        <p id="explore-my-groups-prompt">Click your group names to see their info.</p>
        {% if current_user.groups_is_managing.count() < 5 %}
            <a id="create-group-link" href="{{ url_for('new_group') }}">Create New Group</a>
        {% else %}
            <p id="create-group-link">Group limit reached</p>
        {% endif %}
        {% for group in current_user.groups_is_managing %}
            {% include "_group_i_run.html" %}
        {% endfor %}
    {% else %}
        <a id="create-group-link" href="{{ url_for('new_group') }}">Create New Group</a>
        <p id="no-groups-running">You're not currently running any groups!</p>
    {% endif %}
{% endblock %}