{% extends "base.html" %}

{% block content %}
    <h2 id="sign-in-header">Sign In</h2>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p id="sign-in-username">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="sign-in-email">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="sign-in-remember">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p id="sign-in-submit">{{ form.submit() }}</p>
    </form>
    <p id="sign-up-prompt">New user? <a id="sign-up-link" href="{{ url_for('register') }}">Sign Up Here!</a></p>
{% endblock %}