{% extends "base.html" %}

{% block content %}
    <h2 id="group-manage-header">Manage {{ group.group_name }}</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p id="edit-group-desc">
            {{ form.group_desc.label }}<br>
            {{ form.group_desc(rows=4) }}
            {% for error in form.group_desc.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="edit-group-submit">{{ form.submit(value='Update Group Info') }}</p>
    </form>
{% endblock %}